@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
* {
    font-family: 'MywebFont';
}
.navbar-bg {
    background-color: var(--f7-theme-color-bg-color);
}
div.title.color-white.titlepanel {
    margin-left: 15px;
}
div.title.color-white {
    color: var(--swiper-theme-color);
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 5px;
}
.panellist{
    margin-top: 0;
    margin-bottom: 0;
}
.bg-slidemenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    height: calc(100% - 144px);
}
img.logoSlideMenu {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
}
div {
    font-size: 0.9rem;
}
.quotacss {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
}
.btnNum {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.ValueNumPadcss {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}
.modalBodyNumpad {
    margin-top: 15px;
}
.pyNumPad {
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.kananNavbar {
    position: absolute;
    right: 20px;
    color: whitesmoke;
    font-size: 15px;
}
.cardCs {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-shadow: 8px 8px 5px #dedede;
}
.rowCs {
    margin-bottom: 12px;
}
.mcs{
    margin-left: 10px;
    margin-right: 10px;
}
.btcs {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.fwcs {
    font-weight: bold;
}
.uncs {
    text-decoration: underline;
}
.boxCs {
    border: 1px solid #ddd;
    min-width: 50px;
    max-width: 100%;
    max-height: 21px;
    overflow: hidden;
}
.display {
    background-color: #ccc;
    position: relative;
    overflow-y: scroll;
    color: #009688;
    padding: 10px;
    margin-bottom: 15px;
    height: 200px;
    border-radius: 5px;
}
.contentz {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.contentz div {
    font-size: 30px;
    font-weight: bold;
    overflow-wrap: break-word;
}
.pyNumPadx {
    font-size: 1.6rem;
    font-weight: bold;
    height: 60px;
}
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.pd-2 {
    padding-left: 15px;
    padding-right: 15px;
}
.boxCs1 {
    border: 1px solid #ddd;
    min-width: 40px;
    max-width: 100%;
    max-height: 21px;
    overflow: hidden;
}
.boxCs2 {
    border: 1px solid #ddd;
    min-width: 30px;
    max-width: 100%;
    max-height: 21px;
    overflow: hidden;
}
.rowCs1 {
    margin-bottom: 10px;
}
.rowCs2 {
    margin-bottom: 5px;
}
.moreCs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.mb-2 {
    margin-bottom: 20px;
}
.undclose {
    text-decoration: underline;
    margin-top: 30px;
}